table.flow, th.flow, td.flow{
    border: none;
    border-collapse: collapse;
  }
  table.flow{
    margin-top: 8px;
    table-layout: auto;
    
  }
  th.flow{
    padding: 8px 12px;
    white-space: nowrap;
    min-width: 100px;
  }
  .flow2{
    width: 200px;
    /* scroll-behavior: auto; */
  }