.draggableNode {
    background-color: white;
    width: 25%;
    border-radius: 4px;
    border: 2px solid black;
    /* z-index: 9999; */
    
    


}
.draggableNode:active{
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);
    background-color: white;
    opacity: 1;
    z-index: 9991;
}

/* .exitButton {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 2x;
    vertical-align: center;
} */
.exitButton {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 10px;
    height: 10px;
    opacity: 1;
    padding: 2px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 0px;
    background-color: red;
    border: 1px solid black;
    
  }
  .exitButton:hover {
    /* opacity: .5; */
    box-shadow: inset 0px 0px 2px black;
  }
  .exitButton:before, .exitButton:after {
    position: absolute;
    left: 6px;
    content: ' ';
    height: 10px;
    width: 2px;
    background-color: #333;
  }
  .exitButton:before {
    transform: rotate(45deg);
  }
  .exitButton:after {
    transform: rotate(-45deg);
  }

  .toolbar{
    background-color: grey;
    height: 14px;
    /* border-radius: 2px; */
    border-bottom: 1px solid black;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    text-align: left;
    font-size: .7em;
    font-weight: bold;
    line-height: 1.25;
    text-indent: 2px;

    
  }